<section class="page-image page-image-about md-padding">
		<h1 class="text-white text-center">ADMİN</h1>
	</section>

	<!--==========================
    ABOUTUS Section
============================-->
	<section id="aboutus" class="md-padding">
		<div class="container">

			{{> admin-nav}}
    
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						
					</div>
				</div>
				
			</div>
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				
				<div class="col-md-6">
					
					<img class="img-fluid" src="img/Robot-boss.jpg" alt="">
				</div>
				<div class="col-md-6">
					<div class="bg-main text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<h3 class="title">Nasıl Başlıyoruz ?</h3>
								<p class="mb-3 text-white">Yapay zeka, insan zekasının süreçlerinin makineler ve bilgisayar sistemleri üzerinden gerçek hayatta gerçekleştirilen simülasyondur. Yapay zekanın iki türü vardır. Bunlar; Uygulamalı Yapay Zeka ve Genelleştirilmiş Yapay Zeka olmak üzere ikiye ayrılır. Yapay zeka teknolojisi birçok alanda kullanılmaktadır ve hayatımızda birçok yere sahiptir.
									<br>
									<br>Evrimsel sürece baktığımızda Dünya gezegeni üzerinde uyumla gelişmekte olan biz insanoğlu, bize göre uygun yaşam olasılığı olan gezegenler arayışındayız. Bu gezegenlere gitmek o kadar da kolay değildir. Uzay çalışmalarında yapay zekaya ihtiyaç duyarız. Ve birçok uzay araçları da yapay zeka temellidir. Mesela Curiosity bir yapay zeka uzay aracıdır ve Mars’a iniş yapan uzay araçları sınıfına girer. Yapay zekanın uzay çalışmalarında birden fazla faydası mevcuttur.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--==========================
    THE TEAM
============================-->

	<section id="team" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">GRUBUMUZ</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/robot.png" alt="">
						<h4>Mrs.Robot Garland</h4>
						<p class="text-muted">Lead tasarımcı</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/robot1.png" alt="">
						<h4>Mr.Robot Parker</h4>
						<p class="text-muted">Lead professor</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/robot3.png" alt="">
						<h4>Mr.Robot Pertersen</h4>
						<p class="text-muted">Lead stajyer</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>