<!--==========================
    HERO SECTION Section
============================-->
	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white">SPACE- ARTIFICAL İNTELLAGANCE  </h1>
				<p><font size="3">Uzay ve yapay zeka çağını işte bu uçsuz bucaksız evrenle sunuyorum.</font></p>
				<button class="main-btn">Keşfetmeye Başla!</button>
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Education</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-user-astronaut"></i>
						<h3>Haverford College</h3>
						<p>Astronomik olayların yelpazesi, Evrenin Sıcak Büyük Patlamasından, çökmekte olan yıldızların ölüm sancılarına ve Mars'ın kanyonlarına kadar çok geniştir. Herhangi bir astronomi çalışması, bu fenomenin altında yatan fiziğin sağlam bir şekilde anlaşılmasıyla zenginleştirilir</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-meteor"></i>
						<h3>Smith College</h3>
						<p>Smith Astronomi, Beş Kolej Astronomi Bölümü'nün bir parçasıdır. Konsorsiyum, Smith, Amherst College, Hampshire College, Mount Holyoke College ve Massachusetts'ten gökbilimciler tarafından verilen astronomi ve astrofizik alanında zengin bir müfredat sunmaktadır.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
                    <i class="fas fa-robot"></i>
						
						<h3>Boğaziçi Üniversitesi</h3>
						<p>Yapay Zeka Eğitimi ile geleceğe hoş geldiniz! Dijitalleşmenin hayatımızın her alanına sızdığı dünyamızda yapay zeka ile donatılmış makinelerin varlığına artık şaşkınlıkla bakmamaya başladık her alanına sızdığı dünyamızda yapay zeka... </p>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <section id="statement" class="md-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-black lead">otonomlaşan uzay araçları ve karar verme yetisi kazanan robotlar, uzay endüstrisinin geleceğinde büyük rol oynayacak.</h4>
            </div>
        </div>
    </div>
      
</section>   

	<section id="features" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">NEW NEWS</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					
					<div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                
                                <h4>Bilim insanları suçları araştıracak yapay zeka geliştiriyor</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                
                                <h4>Beyin çipiyle atılan ilk tweet yayınlandı</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                               
                                <h4>Kuluçka merkezinin dijital ressamı: Sanki 100 ressamın eli değdi</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            </div>
                        </div>	
					</div>
				</div>
				<div class="col-md-6">
					<div id="features-slide" class="owl-carousel owl-theme">
						<img src="img/ai1.jpeg" class="img-fluid">
						<img src="img/ai2.jfif" class="img-fluid">
						<img src="img/ai3.jpg" class="img-fluid">
						<img src="img/ai4.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>